:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #2a2a2a;
  color: rgb(255, 255, 255)
}

header .nav-links {
  list-style: none;
  text-align: center;
  padding-top: 2%;
}

header li {
  display: inline-block;
  vertical-align: middle;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight:bold;
  font-size: 30px;
  padding-inline: 1%;
}

.app-logo {
  height: 7vmin;
  pointer-events: none;
}

.main {
  padding-top: 4%;
  padding-left: 30%;
  padding-left: 30%;
  font-style: italic;
}

.plot {
  p: 2;
  border: '1px dashed grey';
}

