:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #2a2a2a;
  color: rgb(255, 255, 255)
}

header .nav-links {
  list-style: none;
  text-align: center;
  padding-top: 2%;
}

header li {
  display: inline-block;
  vertical-align: middle;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight:bold;
  font-size: 30px;
  padding-inline: 1%;
}

.app-logo {
  height: 7vmin;
  pointer-events: none;
}

.main {
  padding-top: 4%;
  padding-left: 30%;
  padding-bottom: 2%;
  font-style: italic;
}

.add-plot {
  margin-left: 60%;
  padding: 1%;
  background-color: #aca357; 
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.add-plot:hover {
  background-color: #948f62; 
}

.plot-div {
  text-align: center
}

.plot-grid {
  display: inline-grid;
  grid-gap: 50px 80px;
  grid-template-columns: 200px 200px 200px 200px;
}

.plot-grid-item {
  border-style: solid;
  border-radius: 10px;
  grid-row: span 6;
  padding: 5%;
  background-color: #ffffff;
  border-color: rgb(151, 151, 151);
  border-width: 2px;
  
  display: inline-grid;
  grid-gap: 0px 15px;
  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px;
}

.button-row {
  background-color: #85bd5f; 
  border-radius: 5px;
  border: none;
  color: white;
  width: 20px;
  display: inline-block;
  font-size: 16px;

}

.button-row:hover {
  background-color: #7baf67; 

}
.button-row-text {
  color: rgb(68, 4, 4);
  text-transform: uppercase;
  transform-origin: 0 0;
  transform: rotate(90deg);
}
