:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #2a2a2a;
  color: rgb(255, 255, 255)
}

header .nav-links {
  list-style: none;
  text-align: center;
  padding-top: 2%;
}

header li {
  display: inline-block;
  vertical-align: middle;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight:bold;
  font-size: 30px;
  padding-inline: 1%;
}

.app-logo {
  height: 7vmin;
  pointer-events: none;
}

.main {
  padding-top: 4%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 2%;
  font-style: italic;
}

.add-plot {
  margin-left: 89%;
  padding: 1%;
  background-color: #aca357; 
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.add-plot:hover {
  background-color: #cac381; 
}

.plot-div {
  text-align: center
}

.plot-grid {
  display: inline-grid;
  grid-gap: 50px 60px;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.plot-grid-item {
  border-style: solid;
  border-radius: 10px;
  padding: 5%;
  background-color: #ffffff;
  border-color: rgb(151, 151, 151);
  border-width: 2px;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.button-row {
  background-color: #85bd5f; 
  border-radius: 5px;
  border: none;
  height: 300px;
}

.button-row:hover {
  background-color: #8ece64; 

}

button span {
  color: white;
  font-weight: bold;
  font-size: 16px;
  transform-origin: 0 0;
  transform: rotate(90deg);
}
